<div class="dropdown-container">

  <div class="multi-select">
    <fieldset class="selected-items" [ngStyle]="{'margin-top': selectedItems.length ? '-1px' :''}">
      <legend *ngIf="selectedItems.length">Theme Category</legend>
      <div class="selected-items-container">
        <span class="select-placeholder" *ngIf="!selectedItems.length" (click)="showOptions = !showOptions">Theme Category</span>

        <div class="chip-container">
          <ng-container *ngFor="let item of selectedItems; let i = index">

            <div class="item" *ngIf="i < 2">
                <span class="chip">
                {{item.title}}
                  <i class="fa fa-times icon close" (click)="removeItem(item)"></i>
              </span>

            </div>
          </ng-container>
          <ng-container *ngIf="selectedItems.length > 2">
            <span class="dots">...</span>
            <div class="item">
              <span class="chip">{{selectedItems.length - 2}}</span>

            </div>
          </ng-container>

        </div>
        <i class="fa fa-caret-down icon close" (click)="showOptions = !showOptions"></i>
      </div>
    </fieldset>
    <div class="multi-select-options" *ngIf="showOptions">
      <div class="search-container">
        <input type="text" class="autocomplete" placeholder="Search" (input)="search($event)">
        <i class="fa fa-search icon"></i>
      </div>
      <div class="checkbox-container">
      <div class="option" *ngIf="filteredOptions.length > 0">
        <label class="container">Select All
          <input type="checkbox" (click)="selectAll($event)"
                 [checked]="isAllChecked()">
          <span class="checkmark"></span>
        </label>
      </div>


        <ng-container *ngFor="let option of filteredOptions; let i = index">
          <div class="option" [class.checked]="option?.checked">
            <label class="container" [ngStyle]="{'color' : option?.checked ? '#11006b':''}">
              {{option?.title}}
              <input type="checkbox" [checked]="option?.checked" (click)="toggleOption(option)">
              <span class="checkmark"></span>
            </label>
          </div>
        </ng-container>
      </div>


    </div>
  </div>
</div>

